.cadastroPg {
  @apply flex flex-col box-border items-center min-h-screen bg-blue-300 bg-repeat-x bg-bottom;
  background-image: url(../../img/iiisometric.svg);
}
.cadastroPg header {
  @apply h-24 w-full bg-blue-950 items-center flex px-5;
}
.cadastroPg main {
  @apply mx-auto my-10 w-3/4 rounded-md p-10 bg-white border border-blue-900 text-blue-950;
  box-shadow: 10px 15px #14296c75;
}

.formCadastro {
  @apply flex flex-col items-center gap-2;
}
.formCadastro div {
  @apply w-full;
}

.formCadastro div h2 {
  @apply text-3xl font-bold my-3;
}
.formCadastro div h2 strong {
  @apply px-1 rounded-md;
  background-color: #fff129;
}
.sendBtn {
  @apply mt-5 border border-blue-950 bg-blue-950 text-white rounded-md font-bold;
  padding: 10px 20px;
}
.sendBtn:hover {
  @apply cursor-pointer bg-white text-blue-950 mt-5;
}
.passarTelaBtn {
  @apply mt-5 border border-blue-950 bg-white text-blue-950 rounded-md font-bold;
  padding: 10px 20px;
}
.passarTelaBtn:hover {
  @apply bg-blue-900 text-white;
}
