.cabecalho {
  @apply flex justify-between h-28 items-center px-28 bg-white w-full;
}
.cabecalho h3 {
  @apply text-blue-900 font-bold text-2xl pl-12 bg-no-repeat;
  background-size: 36px;
  background-position: 0% 50%;
}
.cabecalho h3 div span {
  @apply text-blue-900 font-bold;
}

.groupSvg_huge {
  background-image: url(icons/group_blue.svg);
}
.documentSvg_huge {
  background-image: url(icons/document_blue.svg);
}
.bankSvg_huge {
  background-image: url(icons/pig-piggy-bank_blue.svg);
}
.handsSvg_huge {
  background-image: url(icons/hands-helping_blue.svg);
}
