.exitButton {
  @apply rounded-2xl mx-2 hover:text-blue-950 bg-no-repeat;
  color: #fff129;
  background-size: 24px;
  background-position: 10% 50%;
  background-image: url(icons/exit.svg);
}
.exitButton:hover {
  background-color: #fff129;
  background-image: url(icons/exit_blue.svg);
}
.exitButton span {
  @apply m-1 mx-10 ml-12 font-bold;
}
