.logo {
  @apply w-52;
}
.logo h1 {
  @apply rounded-xl font-bold py-2 border-4 border-blue-950 bg-blue-950 text-4xl;
  color: #fff129;
}
.logo h1 a {
  @apply py-3;
}
.logo h1 a strong {
  @apply m-1 rounded-md px-1 text-blue-950;
  background-color: #fff129;
}

.shadow {
  box-shadow: 5px 5px #14296c75;
  transition: 0.2s;
}
.shadow:hover {
  box-shadow: 8px 8px #14296c75;
  margin: -3px 3px 3px -3px;
}
