.editButton {
  @apply mx-auto bg-blue-900 rounded-3xl px-12 py-2 pr-8 text-white font-bold mt-16 border-2 border-blue-900 bg-no-repeat bg-contain;
  background-image: url(icons/pencil.svg);
  background-size: 26px;
  background-position: 10% 50%;
}
/*background-size: 24px;*/
.editButton:hover {
  @apply hover:bg-white hover:text-blue-900;
  background-image: url(icons/pencil_blue.svg);
}
