.navBar {
  @apply bg-blue-950 w-56 min-h-screen p-4 pt-8 flex flex-col gap-20 items-center justify-items-center;
}
.navBar ul {
  @apply gap-4 flex flex-col grow;
}
.navBar ul a {
  @apply rounded-2xl mx-2 bg-no-repeat;
  background-size: 24px;
  background-position: 10% 50%;
}
.navBar ul a:hover,
.svg_active {
  background-color: #fff129;
}
.document {
  background-image: url(icons/document_light.svg);
}
.document:hover,
.document_active {
  background-image: url(icons/document.svg);
}
.group {
  background-image: url(icons/group_light.svg);
}
.group:hover,
.group_active {
  background-image: url(icons/group.svg);
}
.hands {
  background-image: url(icons/hands-helping_light.svg);
}
.hands:hover,
.hands_active {
  background-image: url(icons/hands-helping.svg);
}
.bank {
  background-image: url(icons/pig-piggy-bank_light.svg);
}
.bank:hover,
.bank_active {
  background-image: url(icons/pig-piggy-bank.svg);
}
