:root {
  --first-color-logo: #172554;
  --second-color-logo: #fff129;
  --shadow1-logo: #14296c8e;
}

/*
:root {
  --first-color-logo: #fff129;
  --second-color-logo: #14216c;
  --shadow1-logo: #14296c75;
}

:root {
  --first-color-logo: #ffffff;
  --second-color-logo: #14216c;
  --shadow1-logo: none;
}


  box-shadow: 3px 3px var(--shadow1-logo);
*/
.logo_div {
  width: 200px;
}
.main_title {
  background-color: var(--first-color-logo);
  border-radius: 10px;
  padding: 0px 2px;
  border: solid 5px var(--first-color-logo);
  color: var(--second-color-logo);
  font-size: 32px;
  font-family: "bold";
}
.shadow {
  box-shadow: 5px 5px var(--shadow1-logo);
}
.yellow_bg {
  color: var(--first-color-logo);
  background-color: var(--second-color-logo);
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 4px;
}
