.svg_base {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.svg_base:hover,
.svg_active {
  background-color: #fff129;
}

.document {
  background-image: url(../img/document_light.svg);
}
.document:hover,
.document_active {
  background-image: url(../img/document.svg);
}
.group {
  background-image: url(../img/group_light.svg);
}
.group:hover,
.group_active {
  background-image: url(../img/group.svg);
}
.hands {
  background-image: url(../img/hands-helping_light.svg);
}
.hands:hover,
.hands_active {
  background-image: url(../img/hands-helping.svg);
}
.bank {
  background-image: url(../img/pig-piggy-bank_light.svg);
}
.bank:hover,
.bank_active {
  background-image: url(../img/pig-piggy-bank.svg);
}

.exit_btn {
  background-image: url(../img/exit.svg);
}
.exit_btn:hover {
  background-image: url(../img/exit_blue.svg);
}

.pencil {
  background-image: url(../img/pencil.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.pencil:hover {
  background-image: url(../img/pencil_blue.svg);
}
