table tr:not(:last-child) td {
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

tr th {
  border-bottom: 2px solid black;
}

td,
th {
  padding: 15px 20px;
}
td a {
  display: inline-block;
  text-align: center;
  background-color: #1e3a8a;
  color: white;
  padding: 5px 10px;
  font-family: "bold";
  border-radius: 30px;
  width: 120px;
  border: 2px solid #1e3a8a;
}
td a:hover {
  background-color: white;
  color: #1e3a8a;
}
